body {
  padding: 20px;
}

ul li a {
  margin-bottom: 10px;
}

.content {
  width: 500px;
}

#tools {
  position: absolute;
  left: 660px;
  width: 220px;
}

.form-stacked, .span  {
  margin-left: 0;
  padding-left: 0;
}

[class*="span"] {
  margin-left: 0;
  padding-left: 10px;
}

.form-stacked .actions {
  padding-left: 20px;
  margin-left: 0;
  padding-right: 0px;
}

.alert-message {
  padding-right: 0;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}

.footer {
  padding-left: 20px;
  margin-top: 50px;
}
